<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Custom Report Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<br/>

<form th:action="@{/customReportForm}"
      th:object="${inputStockForm}" method="POST">
    Ticker:
    <input type="text" th:field="*{ticker}" />
    <select th:field="*{groupId}">
        <option th:value="Finance" th:text="Finance"></option>
        <option th:value="Tech" th:text="Tech"></option>
    </select>
    <br/>
    <input type="submit" value="Create" />
</form>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>