<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Custom report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Custom report</h1>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr>
            <td>Ticket</td>
            <td>Name</td>
            <td>Sector</td>
            <td>Price</td>
            <td>Change</td>
            <td>Change in percent</td>
        </tr>
        <tr th:each ="stock : ${stocks}">
            <td th:utext="${stock.ticker}">...</td>
            <td th:utext="${stock.name}">...</td>
            <td th:utext="${stock.sectorId}">...</td>
            <td th:utext="${stock.price}">...</td>
            <td th:utext="${stock.change}">...</td>
            <td th:utext="${stock.changeInPercent}">...</td>
        </tr>
    </table>
</div>
<a href="/" class="absolute">Start</a>
</body>
</html>