<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Custom report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Custom report</h1>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr>
            <th>Ticket</th>
            <th>Name</th>
            <th>Sector</th>
            <th>Price, $</th>
            <th>Change, $</th>
            <th>Change in percent, %</th>
        </tr>
        <tr th:each ="stock : ${stocks}">
            <td th:utext="${stock.ticker}">...</td>
            <td th:utext="${stock.name}">...</td>
            <td th:utext="${stock.sectorId}">...</td>
            <td th:utext="${stock.price}">...</td>
            <td th:utext="${stock.change}" th:style="${stock.change > 0 ? 'color: green;' : 'color: red;'}">...</td>
            <td th:utext="${stock.changeInPercent}" th:style="${stock.changeInPercent > 0 ? 'color: green;' : 'color: red;'}">...</td>
        </tr>
    </table>
</div>
<a href="/" class="absolute">Start</a>
</body>
</html>