<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Custom Report Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<br/>

<form th:action="@{/customReportForm}"
      th:object="${inputStockForm}" method="POST">
    <input type="text" th:field="*{ticker}"  placeholder="type ticker"/>
    <select th:field="*{sectorId}">
        <option th:value="Financial" th:text="Finance"></option>
        <option th:value="Tech" th:text="Tech"></option>
        <option th:value="Oil" th:text="Oil"></option>
        <option th:value="Fast-Food" th:text="Fast-Food"></option>
        <option th:value="Airlines" th:text="Airlines"></option>
    </select>
    <br/>
    <input type="submit"  value="Create" />
</form>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>