<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>General Report Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<br/>

<form th:action="@{/generalReportForm}"
      th:object="${inputShareForm}" method="POST">
    <input type="text" th:field="*{ticker}" placeholder="type ticker" />
    <input type="text" th:field="*{price}" placeholder="type purchase price, $" />
    <input type="text" th:field="*{count}" placeholder="type count" />
    <br/>
    <input type="submit" value="Create" />
</form>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>