<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>General report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>General report</h1>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr>
            <th>Ticket</th>
            <th>Name</th>
            <th>Purchase price, $</th>
            <th>Count</th>
            <th>Current price, $</th>
            <th>Change today, $</th>
            <th>Change today in percent, %</th>
            <th>Shares price change, $</th>
            <th>Shares price change in percent, %</th>
            <th>Dividend per share, $</th>
            <th>Full dividends, $</th>
        </tr>
        <tr th:each ="share : ${shares}">
            <td th:utext="${share.ticker}">...</td>
            <td th:utext="${share.name}">...</td>
            <td th:utext="${share.purchasePrice}">...</td>
            <td th:utext="${share.count}">...</td>
            <td th:utext="${share.currentPrice}">...</td>
            <td th:utext="${share.changeToday}" th:style="${share.changeToday > 0 ? 'color: green;' : 'color: red;'}">...</td>
            <td th:utext="${share.changeTodayInPercent}" th:style="${share.changeTodayInPercent > 0 ? 'color: green;' : 'color: red;'}">...</td>
            <td th:utext="${share.priceChange}" th:style="${share.priceChange > 0 ? 'color: green;' : 'color: red;'}">...</td>
            <td th:utext="${share.priceChangeInPercent}" th:style="${share.priceChangeInPercent > 0 ? 'color: green;' : 'color: red;'}">...</td>
            <td th:utext="${share.dividendPerShare}">...</td>
            <td th:utext="${share.dividends}">...</td>
        </tr>
    </table>
</div>
<a href="index" class="absolute">Start</a>
</body>
</html>