<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>General report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>General report</h1>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr>
            <td>Ticket</td>
            <td>Name</td>
            <td>Purchase price</td>
            <td>Count</td>
            <td>Current price</td>
            <td>Change today</td>
            <td>Change today in percent</td>
            <td>Shares price change</td>
            <td>Shares price change in percent</td>
            <td>Dividend per share</td>
            <td>Full dividends</td>
        </tr>
        <tr th:each ="share : ${shares}">
            <td th:utext="${share.ticker}">...</td>
            <td th:utext="${share.name}">...</td>
            <td th:utext="${share.purchasePrice}">...</td>
            <td th:utext="${share.count}">...</td>
            <td th:utext="${share.currentPrice}">...</td>
            <td th:utext="${share.changeToday}">...</td>
            <td th:utext="${share.changeTodayInPercent}">...</td>
            <td th:utext="${share.priceChange}">...</td>
            <td th:utext="${share.priceChangeInPercent}">...</td>
            <td th:utext="${share.dividendPerShare}">...</td>
            <td th:utext="${share.dividends}">...</td>
        </tr>
    </table>
</div>
<a href="index" class="absolute">Start</a>
</body>
</html>