<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Input assets</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Simple report</h1>
<a href="simpleReportForm">Add asset</a>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr th:each ="asset : ${inputAssets}">
            <td th:utext="${asset.ticker}">...</td>
        </tr>
    </table>
</div>
<a href="simpleReport" class="absolute">Show report</a>
<br/><br/>
</body>
</html>