<!DOCTYPE HTML>
<html class="center" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Input shares</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>General report</h1>
<a href="generalReportForm">Add share</a>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr>
            <td>Ticket</td>
            <td>Purchase price</td>
            <td>Count</td>
        </tr>
        <tr th:each ="share : ${inputShares}">
            <td th:utext="${share.ticker}">...</td>
            <td th:utext="${share.purchasePrice}">...</td>
            <td th:utext="${share.count}">...</td>
        </tr>
    </table>
</div>
<a href="generalReport" class="absolute">Show report</a>
<br/><br/>
</body>
</html>