<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Simple Report Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

<form th:action="@{/simpleReportForm}"
      th:object="${inputAssetForm}" method="POST">
    <input type="text" th:field="*{ticker}" placeholder="type ticker"/>
    <br/>
    <input type="submit" value="Create" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>