<!DOCTYPE HTML>
<html class="center"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Simple report</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Simple report</h1>
<br/><br/>
<div>
    <table class="table_blur" border="1">
        <tr>
            <th>Ticket</th>
            <th>Name</th>
            <th>Price, $</th>
            <th>Change from average 50 in percent, %</th>
            <th>Dividends, $</th>
        </tr>
        <tr th:each ="asset : ${assets}">
            <td th:utext="${asset.ticker}">...</td>
            <td th:utext="${asset.name}">...</td>
            <td th:utext="${asset.price}">...</td>
            <td th:utext="${asset.changeFromAvg50InPercent}" th:style="${asset.changeFromAvg50InPercent > 0 ? 'color: green;' : 'color: red;'}">...</td>
            <td th:utext="${asset.dividendAnnualYield}">...</td>
        </tr>
    </table>
</div>
<a href="index" class="absolute">Start</a>
</body>
</html>